[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
pytest = "*"
flake8 = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
